body {
  background-color:darkcyan;
  margin:0;
}

.main_wrap {
  position:absolute;
  top:0;
  left:0;
  width:752px;
  height:160px;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);

  .section__content__animation {
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.2);
  }
}